<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
  <link rel="canonical" href="{{ canonical_url }}">
  {{ content_for_header }}
  <style>
    body { margin: 0; padding: 0; background: #f5f5f5; font-family: 'Montserrat', sans-serif; }
  </style>
</head>
<body>
  {{ content_for_layout }}
  {%- render 'rc-popup-cart' -%}
</body>
</html>
